@import "tailwindcss";

:root {
  --background: #E3DFD4;
  --surface: #F5F2EA;

  --foreground: #1F1F1F;
  --secondary-foreground: #4B4B4B;
  --muted-foreground: #777777;

  --primary: #12372A;
  --secondary: #436850;
  --accent: #ADBC9F;

  --border: #D7D1C4;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);

  --color-foreground: var(--foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted-foreground: var(--muted-foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-border: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
